__pycache__/*
todo_list.txt
*.pyc
*.log
globalnames

old/*
arc
logs/*
data/*
sounds/*
.ropeproject/*

ponyup/.ropeproject/*
ponyup/.ropeproject/globalnames
/test_ponyup/.ropeproject/*
/test_ponyup/.ropeproject/globalnames
.cache
