__pycache__/*
todo_list.txt
*.pyc
*.log
globalnames

old/*
arc
logs/*
data/*
sounds/*
backburner/*
venv/*
.ropeproject/*

src/.ropeproject/*
src/.ropeproject/globalnames
/tests/.ropeproject/*
/tests/.ropeproject/globalnames
.cache
